.team {
  text-align: center;
  margin: 2rem 0;
}

.team-members {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.member {
  max-width: 200px;
}

.member img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.member h3 {
  margin: 0.5rem 0 0.2rem;
}

.member p {
  margin: 0;
  color: #777;
}
