.hero {
height: 80vh;
background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
background-image: url('/gallery/image26.jpg');
background-size: cover;
color: rgb(84, 27, 58);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
button {
margin-top: 20px;
padding: 12px 24px;
background: #8b5e3c;
border: none;
color: white;
}

