.navbar {
display: flex;
justify-content: space-between;
padding: 10px 5px;
background: hwb(317 18% 42%);
box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
.logo { 
color: rgb(127, 139, 60); 
font-size: 24px;
font-style: italic;
}
nav a {
margin-left: 10px;
text-decoration: none;
color: #333;
}
.btn {
padding: 8px 14px;
background: #8b5e3c;
color: #fff;
border-radius: 4px;
}